.navbar-lewagon {
  justify-content: space-between;
  background: #FEFBE9;
  height: auto;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 80%;
    max-width: 400px;
    height: auto;
}

.nav-button {
  height: 50px;
  width: 125px;
  padding-left: 14px;
  padding-right: 11px;
  padding-top: 13px;
  border-radius: 5px;
  border-color: #E86A33;
  background: #E86A33;
  transition: 0.3s ease;
  a {
    color: white;
    text-decoration: none;
    margin: 0px;
  }

  i{
    padding-right: 6px;
  }
}

.nav-button:hover {
  background: #d25f2d;
}
